{% extends 'base.html.twig' %}

{% block title %}Réserver ce bien{% endblock %}

{% block body %}
<div class="container my-5">
<h2 class="text-center mb-5">Votre réservation</h2>
    <div class="row d-flex justify-content-center mb-5">
        
            <div class="col-sm-12 col-md-12 col-lg-6 text-center"> 
                <p>   Vous avez choisi de réserver : </p>
                {{bien.nomBien}}
                <div class="media w-50 mt-3 mx-auto">
                <img src="/uploads/{{bien.image}}" alt="{{bien.nomBien}}">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 my-auto">
            <p>Indiquez les dates souhaitées</p>
            {{form(form)}}
            </div>
    </div>
</div>
{% endblock %}
