{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
<h1>Nouvel Utilisateur</h1>
<div class="row">
<div class="w-50">
{{form(form)}}
</div>
</div></div>



{% endblock %}
